 /* CARD */
 .card {

 	height: 90%;
 	width: 30%;
 	position: relative;
 }

 .card__photo {
 	height: 100%;
 	width: 100%;
 	object-fit: fill;
 	border-radius: 10%;

 }

 .visual-card {
 	display: flex;
 	align-items: center;
 	position: relative;
 	z-index: 0;
 }


 .visual-card__logo {
 	height: 50px;
 	width: 50px;
 	position: absolute;
 	z-index: 1;
 	top: 10%;
 	left: 90%;

 }